.leftContainer{
    display: flex;
  flex-direction: column;
  border:1px solid black;
  width: 100%;
  max-width: 400px;
    
}
input {
  padding: 10px;
  box-sizing: border-box;
  margin:10px;
}
.signbn{
    width:100px;
}
.regclass{
    display: flex;
    justify-content: center;

}
.registerBtn{
    margin:10px;
}
.signclass{
    display: flex;
    justify-content: center;
}
#loginId{
    text-align: center;
}
.registerBtn{
    text-decoration-line: none;
}